@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-rethink_sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cabin), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
